.helicopterCard {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .helicopterPhoto {
        width: 90%;
        border-radius: 1.5vw 3.25vw / 5vw;
    }

    .helicopterName {
        margin-block: 1vh;
        font-family: Montserrat-Regular;
        text-shadow: 1px 1px 1px #8a838b, 2px 2px 1px #8a838b;
    }

    .helicopterDescription{
        font-family: Inter-Light;
        word-spacing: 3px;
        align-self: center;
        width: 25vw;
        text-indent: 1.5vw;
    }
}