@font-face {
  font-family: Allibaba-Semi-Bold;
  src: url(/src/assets/fonts/Alkalami-Regular.ttf);
}

@font-face {
  font-family: Bubble-Thai;
  src: url(/src/assets/fonts/FuzzyBubbles-Regular.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(/src/assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(/src/assets/fonts/static/Inter-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}